$fontfamily: "Open Sans", sans-serif;
$bgColor: #f3f7fa;
$borderCurrency: #d2d5d6;
$blue: #2196f3;
$white: #fff;
$bgHover: #f2fcff;
$black: #000;
$orange: #ff6d00;
$orangeHover: #ff8124;
$orangeBorder: #d64d08;
$grey: #eceff1;
$date: #aab0b2;
