@import "../../../../common-styles/variables";

.tickets {

}

.tickets_box {
  min-height: 160px;
  margin-bottom: 20px;
  background-color: $white;
  border-radius: 6px;
  box-shadow: 0 0 11px -4px $black;
  display: flex;
}

.tickets_box_airline_block {
  width: 30%;
  min-height: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $grey;
}

.tickets_box_info {
  width: 70%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.tickets_box_airline_block_buy {
  width: 158px;
  margin-top: 20px;
  border: none;
  color: $white;
  background-color: $orange;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 0 1px 0px 0px $orangeBorder;
  outline: none;
  cursor: pointer;
  transition: .2s;
}

.tickets_box_airline_block_buy:hover {
  background-color: $orangeHover;
  transition: .2s;
}

.tickets_box_info-time {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0px;
}

.tickets_box_info-origin {
  font-size: 12px;
  margin-bottom: 10px;
}

.tickets_box_info-date {
  font-size: 12px;
  font-weight: 400;
  color: $date;
}

.tickets_box_info_stops {
  width: 110px;
  position: relative;
}

.tickets_box_info_stops-title {

  font-size: 12px;
  font-weight: 400;
  color: $date;
}

.tickets_box_info_stops:after {
  content: '';
  position: absolute;
  top: 20px;
  left: -10px;
  width: 100px;
  height: 13px;
  background: url("/assets/images/plane.png") center no-repeat;
}
